.form{
    text-align: center;
}

label{
    font-family:serif;
    font-size: 17px;
}
.submit{
    background-color: green;
    border: 2px solid white;
    color: white;
    /* font-size: 17px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    width: 100px;
}
button:hover{
    background-color: rgb(39, 228, 39);
}

#tab{
    background-color: rgb(208, 214, 219);
    margin: auto;
    border: 1px solid green;
    border-radius: 7px;
    padding: 30px;
    width: 50%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input::placeholder{
    color: green;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

form.form input{
    height: 25px;
    border: 2px solid green;
    
}

footer{
    display: flex;
    justify-content: center;
}

.footer-copyright{
    background-color: rgb(206, 212, 217);
    color: black;
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;

}