.form{
    text-align: center;
}
.submit{
    background-color: green;
    color: white;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    width: 100px;
}
