li{
    display: inline;
    text-align: center;
}
nav{
    background-color: green;
    height: 33px;
    text-align: center;
}
.navi{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
li a:hover {
    background-color: rgb(14, 172, 14);
}
